{% extends 'main/layout.html' %}

{% block title%}TikTok Videos{% endblock %}

{% block content %}

<div class="container" style="margin-left: 389px; position: absolute; margin-top: 15px; width: auto;">

    <video width="192px" height="341px" autoplay controls loop class="giga">
        <source src="static/main/video/danish_tiktok_gigachad.mp4" type="video/mp4" class="giga">
    </video>
    <div>
        <p style="color: #fff; font-size: 14.6px; max-width: 200px;">Danish sing Gigachad's music</p>
        <a style="margin-left: 45px; margin-top: 5px;" class="btn btn-warning" href="https://www.tiktok.com/@choky_pesmobile/video/7108066272214027546?is_from_webapp=1&sender_device=pc&web_id=7109545834753476102", target="_blank">This Video</a>
    </div>

</div>
{% endblock %}